/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background:seagreen;
    margin: 0;
    padding: 0;
}


* {
    box-sizing: border-box;
}

/* Dashboard Header */
.dashboard-header-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.header-text {
    font-family: 'Poppins', sans-serif; /* Use Poppins font */
    color: #343a40;
    font-size: 64px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    padding: 100px;
    padding-top: 10px;
}


/* Button Styling */
.custom-button {
    margin-top: 75px;
    width: 400px;
    height: 50px;
    font-size: 18px;
    color: #ffffff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-weight: bold;
    letter-spacing: 1px;
}

.custom-button:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.custom-button:active {
    background-color: #1e7e34;
}

.custom-button:focus {
    outline: none;
    box-shadow: 0 0 5px #218838;
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
}

.modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
    text-align: left;
    animation: fadeIn 0.3s ease-out;
}

.close {
    float: right;
    cursor: pointer;
    font-size: 20px;
    color: #333;
}

.close:hover {
    color: #ff0000;
}

/* Add smooth transition to modal appearance */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal-content.show {
    opacity: 1;
    transform: scale(1);
}



